<div class="col-lg-3 col-md-4 hidden-sm hidden-xs" style="overflow: auto;height: 80vh;">

				<div style="margin-top: 10px;margin-bottom: 10px;">
	   		<form  action="#">
				<input type="text" style="width: 100%" class="form-control" placeholder="Name or roll number" name="search" id="search" aria-label="userid">
				</form>

				</div>

				<div style="overflow: auto;height: 70vh;width: auto;" id="result">


					<!-- friend list displays here -->


				</div>




			</div>