<!DOCTYPE html>
<html>
<head>
	<title>Welcome to inc-ognito</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1" style="font-weight: bold;"><i class="fas fa-user-secret" style="font-size: xx-large;margin-right: 15px;"></i>Inc-ognito</span>
  <span class="navbar-text" style="color: white">
      Stay Anonymous.
    </span>
</nav>

	<div class="row container-fluid" style="margin: 0;padding: 0;background-color: #343a40">

          <% if(error && error.length > 0){ %>
              <div class="container ">
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div></div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="container">
            <div class="alert alert-success" role="alert">
                <%= success %>
                 </div></div>
        <% } %>
		<div class="col-lg-12 mainpp">

			<div class="row" style="margin-top: 30px;">
	  		<div class="col-lg-2 col-md-6 col-sm-12" style="border-right: 1px black solid;">
 	    		<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	      		<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Login</a>
	      		<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Sign Up</a>
	      		</div>
  			</div>





		  <div class="col-lg-5 col-md-6 col-sm-12">
		    <div class="tab-content" id="v-pills-tabContent">
		      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
		      	

		      	<form method="post" action="/login">
				  <div class="form-group row">
				    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
				    <div class="col-sm-6">
				      <input type="number" required class="form-control" name="username" id="inputEmail3" placeholder="Roll">
				    </div>@kiit.ac.in
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
				    <div class="col-sm-6">
				      <input type="password" required class="form-control" name="password" id="inputPassword" placeholder="Password">
				    </div>
				  </div>
				  
				  <div class="form-group row">
				    <div class="col-sm-10">
				      <button type="submit" class="btn btn-dark">Sign in</button>
				    </div>
				  </div>
				  <div><a style="cursor: pointer;">Forgot password?</a></div>
				</form>


		      </div>
		      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
		      	

		      	<form action="/signup" method="post">
				  <div class="form-group row">
				    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
				    <div class="col-sm-6">
				      <input type="number" required class="form-control" name="username" id="inputEmail3" placeholder="Kiit Roll number">
				    </div>@kiit.ac.in
				  </div>
				  <div class="form-group row">
				    <label for="inputName" class="col-sm-2 col-form-label">First Name</label>
				    <div class="col-sm-6">
				      <input class="form-control" required id="inputfirstname" name="firstname" placeholder="First Name">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputName" class="col-sm-2 col-form-label">Last Name</label>
				    <div class="col-sm-6">
				      <input class="form-control" required id="inputlastname" name="secondname" placeholder="Last Name">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
				    <div class="col-sm-6">
				      <input type="password" required class="form-control" id="inputPassword3" name="password" placeholder="Password" onkeyup="checkpass()">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
				    <div class="col-sm-6">
				      <input type="password" required class="form-control" id="inputPassword4" placeholder="Re-enter Password" onkeyup="checkpass()">
				    </div>
				  </div>
				 
				  <div class="form-group row">
				    <div class="col-sm-10">
				      <button type="submit" disabled="true" id="btnn" class="btn btn-dark">Sign Up</button>
				    </div>
				  </div>
				</form>


		      </div>
		      
		    </div>
		  </div>
		  <div class="col-lg-5 hidden-md hidden-sm hidden-xs">
		  	<div style="font-size: large;">
		  		Your activities are totally anonymous and will not be disclosed under any circumstances.
		  	</div>
		  	<div style="font-size: 6vw;">
		  	Message.<br>Rate.<br>Confess.
		  </div>
		  </div>
		  
</div>
</div>

	</div>



<script type="text/javascript">
	function checkpass(){
		var x = document.getElementById("inputPassword3").value;
		var y = document.getElementById("inputPassword4").value;
		if(x===y && x.length>5 && y.length>5){
			document.getElementById("btnn").disabled=false;
		}else{
			document.getElementById("btnn").disabled=true;
		}
		
	}
</script>
</body>
</html>